@media (width >=993px) and (width <=1115px) {
    .home {
        padding-inline: 2%;
        gap: 30px;
    }

    .home-left .logo {
        transform: translateY(0);
    }
}

/* RESPONSIVO: iPad e Tablets */
@media (width <=992px) {
    .home {
        padding-left: 5%;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        background: #8a2be2 url('../image/bg-mobile.svg') center/cover no-repeat;
    }

    .home-left,
    .home-right {
        align-self: flex-start;
    }

    .home-left .img {
        max-width: 450px;
    }

    .home-right .actions {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .home-right .actions button,
    .home-right .actions button:hover {
        background-color: #ee6fce;
        color: #ffffff;
        box-shadow: #00000066 0px 2px 4px, #0000004d 0px 7px 13px -3px, #00000033 0px -3px 0px inset;
    }

    .home-right .actions .social {
        position: static;
    }

    .home-right .actions .social a {
        margin-inline: 12px;
    }

    .home-right .actions .social i {
        color: #ffffff;
    }

    .home-right .actions .social i:hover {
        transform: translateY(0);
    }

    .home-right i:active {
        position: relative;
        bottom: 2px;
    }

    .home-right .actions .social .fa-twitter {
        background-color: #00A7E5;
    }

    .home-right .actions .social .fa-instagram {
        background-color: #fa50ab;
    }

    .home-right .actions .social .fa-facebook-f {
        background-color: #1473EA;
    }
}

/* RESPONSIVO: Celulares */
@media (width <=576px) {
    .home {
        padding-left: 0;
        text-align: center;
        background: #8a2be2 url('../image/bg-mobile.svg') no-repeat;
    }

    .home-left,
    .home-right {
        align-self: center;
    }

    .home-left .logo {
        text-align: start;
        max-width: 150px;
    }

    .home-left .img {
        max-width: 270px;
    }

    .home-right {
        margin-bottom: 0;
    }

    .home-right h1 {
        margin-bottom: 10px;
        font-size: 24px;
    }

    .home-right p {
        max-width: 300px;
    }

    .home-right .actions {
        flex-direction: column;
        gap: 40px;
    }

    .home-right .actions button {
        padding: 10px 75px;
    }

    .home-right .actions .social a {
        margin-inline: 8px;
    }
}

/* RESPONSIVO: Relógios Digitais e MiniCelulares */
@media (width <=320px) {
    .home {
        padding: 30px 5%;
        gap: 10px;
    }

    .home-left .logo {
        transform: translateY(-35%);
    }

    .home-left .img {
        max-width: 214px;
    }

    .home-right h1 {
        font-size: 80%;
    }

    .home-right p {
        max-width: 211px;
        margin-bottom: 15px;
        line-height: 14px;
        font-size: 65%;
    }

    .home-right .actions {
        gap: 20px;
    }

    .home-right .actions button {
        padding: 5px 20px;
        font-size: 10px;
    }

    .home-right .actions .social a {
        margin-inline: 5px;
    }

    .home-right .actions .social i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 8px;
    }
}