@media (width >=993px) and (width <=1175px) {
    .home {
        padding-inline: 2%;
        gap: 4rem;
    }

    .home .visual-area .logo {
        transform: translateY(0);
    }

    .home .content-container {
        padding-left: 0;
    }
}

/* RESPONSIVO: iPad e Tablets */
@media (width <=992px) {
    .home {
        padding-left: 5%;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        background: var(--background-color-responsive) url('../image/bg-mobile.svg') center/cover no-repeat;
    }

    .home :is(.visual-area,
        .content-container) {
        align-self: flex-start;
    }

    .home .visual-area .illustration-container {
        max-width: 45rem;
    }

    .home .content-container .actions {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .home .content-container .actions :is(button, button:hover) {
        background-color: var(--button-color);
        color: var(--white-color);
        box-shadow: #00000066 0px 2px 4px, #0000004d 0px 7px 13px -3px, #00000033 0px -3px 0px inset;
    }

    .home .content-container .actions button:hover span {
        transform: none;
    }

    .home .content-container .actions .social {
        position: static;
    }

    .home .content-container .actions .social a {
        margin-inline: 12px;
    }

    .home .content-container .actions .social a i {
        color: var(--white-color);
    }

    .home .content-container .actions .social a:hover i {
        transform: translateY(0);
    }

    .home .content-container a:active i {
        position: relative;
        bottom: 2px;
    }

    .home .content-container .actions .social .fa-twitter {
        background-color: #00A7E5;
    }

    .home .content-container .actions .social .fa-instagram {
        background-color: #fa50ab;
    }

    .home .content-container .actions .social .fa-facebook-f {
        background-color: #1473EA;
    }
}

/* RESPONSIVO: Celulares */
@media (width <=576px) {
    .home {
        padding-left: 0;
        text-align: center;
        background: var(--background-color-responsive) url('../image/bg-mobile.svg') no-repeat;
    }

    .home :is(.visual-area,
        .content-container) {
        align-self: center;
    }

    .home .visual-area .logo {
        max-width: 17rem;
        text-align: start;
        transform: translateY(-15%);
    }

    .home .visual-area .illustration-container {
        max-width: 30rem;
    }

    .home .content-container {
        margin-bottom: 0;
    }

    .home .content-container h1 {
        margin-bottom: 10px;
    }

    .home .content-container p {
        max-width: 30rem;
    }

    .home .content-container .actions {
        flex-direction: column;
        gap: 4rem;
    }

    .home .content-container .actions button {
        padding: 10px 75px;
    }

    .home .content-container .actions .social a {
        margin-inline: 8px;
    }
}

/* RESPONSIVO: Relógios Digitais e MiniCelulares */
@media (width <=320px) {
    .home {
        padding: 20px 5%;
        gap: 1rem;
    }

    .home .visual-area .logo {
        max-width: 14rem;
    }

    .home .visual-area .illustration-container {
        max-width: 21.4rem;
    }

    .home .content-container h1 {
        font-size: 1.4rem;
    }

    .home .content-container p {
        max-width: 21.1rem;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .home .content-container .actions {
        gap: 2rem;
    }

    .home .content-container .actions button {
        padding: 5px 20px;
        font-size: 1rem;
    }

    .home .content-container .actions .social a {
        margin-inline: 5px;
    }

    .home .content-container .actions .social a i {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        line-height: 3rem;
    }
}